.git
.gitignore
.env
.env.*
!.env.example
vendor
node_modules
frontend/
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
*.log
Dockerfile
.dockerignore
README.md
